{% extends 'index.html' %}
{% load static %}
    {% block title %}
    <title>Login | SignUp</title>
    {% endblock %}

    {% block corousel %}
    {% endblock %}
    
    {% block prod_header %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-xxl-6 p-0">
          <img src="{% static 'images/welcome.jpg' %}" height="750px" width="100%" alt="">
        </div>
        <div class="col-xxl-6 mt-5 p-4">
          {% for i in messeges %}
          <div class="alert alert-danger" role="alert">{{i}}</div>
          {% endfor %}
          
          <div style="text-align: center;" ><h2>Welcome to MyShop</h2></div>
          <form method="post" >
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label"  >User Name</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter Your User Name" required>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Enter Your Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/signup/">New User?SignUp</a>
                    <a href="/forgetpassword/">Forget Password</a>
                  </form>
            </div>
        </div>
    </div>
    {% endblock %}